/*
 * Copyright (c) 2011-2014, SmeshLink Technology Ltd.
 * All rights reserved.
 *
 * This example demonstrates how to run a task with AutoRun class.
 */

#include "AutoRun.h"

/*
 * Defines a task to print a message of hello.
 */
AutoTask(bonjour)
{
	printf("Hello world!\n");
}
